*.swp

# codelite project autogen stuff
impl/proj/codelite/bolotracker.mk
impl/proj/codelite/bolotracker.txt

# build stuff
impl/build/linux_x64_debug/
impl/build/linux_x64_release/

# runtime
impl/run

impl/lib/

